numpy>=2.2.0
pandas>=2.3.0
scipy>=1.15.0
matplotlib>=3.10.0
scikit-learn>=1.7.0
xarray>=2025.6.0
netCDF4>=1.7.0
zarr
torch>=2.5.0
torchvision>=0.20.0
torchaudio>=2.5.0
einops
cdsapi>=0.7.0
attrs>=21.2.0
cartopy>=0.23.0
xrft
numpy_groupies
intake-esm
xmip
intake-esm xmip